###############################
###### 	macros.cfg     NEED TO CHANGE SOME CODE ######
###############################

# Conditional G28
[gcode_macro CG28]
gcode:
   STATUS_HOMING
  {% if printer.toolhead.homed_axes != "xyz" %}
    G28
  {% endif %}

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    


#################################
######### HOUR COUNTER ##########
#################################
[gcode_macro COUNTER_OFF]
gcode: 
    Set_pin pin=hourCounter value=0

[gcode_macro COUNTER_ON]
gcode: 
    Set_pin pin=hourCounter value=1


##############################
######### NEVERMORE ##########
##############################
[gcode_macro Nevermore_on]
gcode:
    Set_pin pin=nevermore value=1

[gcode_macro Nevermore_off]
gcode:
    Set_pin pin=nevermore value=0

[gcode_macro PRINT_START]
gcode:
    led_on
    # Parameters
    {% set BED = params.BED_TEMP|int %}
    {% set HOTEND = params.EXTRUDER_TEMP|int %}
    STATUS_HEATING
    M140 S{BED} ; set final bed temp
    M104 S{HOTEND}
    red
    CG28
    #Nevermore_on
    G0 X150 Y150 Z30  
    M190 S{BED}            
    PARK
    STATUS_HEATING
    M117 Heatsoaking...
    M106 S255 ;Turn fan on full blast to help circulate the air
    #Nevermore_on
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM=40    ; Wait for chamber to warm up
    M107 ;Turn fan off
    Attach_Probe_Lock
   
    {% if not printer.quad_gantry_level.applied %}
    STATUS_LEVELING
    M117 Quad Gantry Leveling...
    QUAD_GANTRY_LEVEL
    {% endif %}
    Dock_probe_unlock
    STATUS_CLEANING
    CLEAN_NOZZLE
    Attach_probe_lock
    STATUS_CALIBRATING_Z
    M117 Calibrating Z Offset...  
    CALIBRATE_Z  
    STATUS_MESHING
    M117 Calibrating Bed Mesh...
    BED_MESH_CALIBRATE
    RESET_EXTRUDER        
    Dock_Probe_Unlock
    #CLEAN_NOZZLE

    #PURGE_LINE
    COUNTER_ON
    STATUS_PRINTING
    M117 Printing...


[gcode_macro RESET_EXTRUDER]
gcode:
    G92 E0 ; reset extruder

[gcode_macro PRINT_END]
gcode:
    COUNTER_OFF
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-10.0 F3600                ; retract filament
    G91                            ; relative positioning
    G0 Z1.00 X20.0 Y20.0 F20000    ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G1 Z2 F3000                    ; move nozzle up 2mm
    G90                            ; absolute positioning
    G0 X125 Y250 F3600             ; park nozzle at rear
    BED_MESH_CLEAR
    M84
    #Nevermore_off
    M117

    
[gcode_macro LED_ON]
gcode: 
  white

[gcode_macro PURGE_LINE]
#   A purge line on the left of the bed to prime the extruder
gcode:
    G92 E0                         ; zero/reset extruder
    G1 X2.2 Y20 Z0.3 F18000        ; move to start position
    G1 E+15 F150              ;    extrude to put the pressure (-20 from purge macro)
    G92 E0

    G1 X2.2 Y200 Z0.25 F1500 E10    ; extrude the first line
    G1 Z2.0 F3000              ; move nozzle up and retract tiny bit
    G92 E0 
    


   
# Park bed for heatsoaking
[gcode_macro PARK]
default_parameter_FORCE: 0
gcode:
  {% if printer.idle_timeout.state != "Printing" or FORCE|int == 1 %}
    CG28                           ; Home if not already homed
    SAVE_GCODE_STATE NAME=PARK
    G90                            ; absolute positioning
    G0 X150 Y150 Z30 F5000        ; Move to position
    RESTORE_GCODE_STATE NAME=PARK
  {% else %}
    { action_respond_info("PARK disabled while printing!") }
  {% endif %}

# Park front for maintenance / cleaning
[gcode_macro PARKFRONT]
gcode:
  {% if printer.idle_timeout.state != "Printing" %}
    CG28                           ; Home if not already homed
    SAVE_GCODE_STATE NAME=PARKFRONT
    G90                            ; absolute coords
    G1 Z100 X130 Y10 F5000         ; Move to position
    RESTORE_GCODE_STATE NAME=PARKFRONT
  {% else %}
    { action_respond_info("PARKFRONT disabled while printing!") }
  {% endif %}


  
[gcode_macro LOAD]
gcode:
    SAVE_GCODE_STATE NAME=LOAD
    G91
    G1 E82 F900                              ;Load filament
   # CLEAN_NOZZLE
    RESTORE_GCODE_STATE NAME=LOAD
    SET_IDLE_TIMEOUT TIMEOUT=7200

#[gcode_macro PURGE]
#gcode:
  #  G28
  #  SAVE_GCODE_STATE NAME=PURGE
    ;M104 S245 ; set extruder final temp
 #   M109 S245  ;wait for extruder final temp
    #PARKBUCKET
   # G1 E75 F300
    #TURN_OFF_HEATERS
  #  CLEAN_NOZZLE
  #  G28 Z
  #  RESTORE_GCODE_STATE NAME=PURGE



    
# enable to SET_KINEMATIC_POSITION for Z hop
[force_move]
enable_force_move: True


# Park Toolhead Routine
[gcode_macro Park_Toolhead]
gcode:
   G1 X150 Y150 F18000
